services:
  fhir:
    container_name: fhir
    image: hapiproject/hapi:latest
    ports:
      - "8080:8080"
    configs:
      - source: hapi
        target: /app/config/application.yml
    depends_on:
      - db

  db:
    container_name: postgres
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: hapi
    volumes:
      - ./hapi.postgres:/var/lib/postgresql

  web:
    container_name: react
    build: .
    image: stack-tracker
    ports:
      - "3000:3000"
    env_file:
      - .env.local

configs:
  hapi:
    file: ./application.yml